<div class="mt-4 text-center">
  <a class="btn btn-outline-primary w-100" [routerLink]="['/']" href=""
    >&#x2190; Back</a
  >
</div>

<div class="card mt-4">
  <h4 class="card-header bg-dark text-white text-center">User Details</h4>
  <div class="card-body text-center my-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>
          <u>{{ user.first_name + " " + user.last_name }}</u>
        </h5>
      </li>
      <li class="list-group-item"><b>First Name:</b> {{ user.first_name }}</li>
      <li class="list-group-item"><b>Last Name:</b> {{ user.last_name }}</li>
      <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
      <li class="list-group-item"><b>age</b> {{ user.age }}</li>
    </ul>
  </div>
</div>
